.long-seperation {
    margin: 5px 5px 5px 5px;
}

.short-seperation {
    margin: 5px 5px 5px 5px;
}

.short-container {
    width: 20em;
    height: 30em;
    max-height: 21em;
}

.long-container {
    width: 20em;
}

.video-thumbnail {
    width: 100%;
}

.video-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    margin: 5px 0px 5px 0px;
    width: 100%;
}

.video-details-container {
    justify-content: space-between;
    width: 100%;
}

.video-details {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.long-select-button {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    right: 10px;
}

.short-select-button {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    right: 10px;
}

#previous-next-videos-buttons-container {
    margin-top: 3%;
}