* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-list {
    margin: 0px 25px 0px 85px;
}

.video-list-tabs {
    font-size: 15px;
}

.current-tab {
    font-weight: bold;
    border-bottom: blue 1px solid;
}

.long-format {
    color: #000000;

}
/*
.long-format:hover {
    color: #000000;
    font-weight: bold;
    border-bottom: blue 1px solid;
}
*/
.short-format {
    color: #000000;
}

.short-format:hover {
    color: #000000;
}

.top-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.client-name {
    color: #8A8A8A;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

.video-list-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.icon-with-channel-name-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.default-channel-icon {
    height: 22px;
    width: 22px;
}

.channel-name {
    margin-bottom: 0;
    font-weight: 600;
}

.search-and-modify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.default-channel-icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modify-plan-button {
    /*background-color: darkblue;*/
    font-size: 14px;
    height: 35px;
}

.header-for-video-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.check-box {
    height: 15px;
    width: 15px;
}

.check-and-video-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.name-header {
    width: 50%;
    margin-bottom: 0;
    margin-left: 7px;
}

.thumbnail-header {
    width: 25%;
    text-align: center;
    margin-bottom: 0;
}

.all-videos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
