* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thumbnail-image {
    height: 40px;
    width: 70px;
}

.widget-buttons {
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 10px;
    position: relative;
}

.check-and-video-name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.video-name {
    margin: 0;
}

.video-number {
    margin: 0;
    margin-left: 7px;
    margin-right: 5px;
}

.thumbnail {
    width: 25%;
    text-align: center;
}

.four-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 25%;
    gap: 10px;
}