.client-settings-popup {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    margin-left: 50%;
}

.client-settings-close-area {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: transparent;
    margin-left: 5%;
}

#use-monthly-plan-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 70em;
}

#use-same-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 70em;
}

#use-same-tags-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 70em;
}

#toggles-container {
    display: flex;
    flex-direction: row;
}

#num-long-formats-and-shorts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-input-container {
    width: 40%;
}

#processing-amount-slider-container {
    width: 70em;
}

#client-settings-buttons-section {
    display: flex;
    flex-direction: row;
    width: 50em;
    margin-top: 5em;
}

#client-settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70em;
    margin-top: 3%;
}

.not-full-width-horizontal-line {
    margin-top: 1em;
    border-bottom: 1px solid grey;
    height: 2px;
    width: 70em;
}

.horizontal-line {
    position: fixed;
    border-bottom: 1px solid grey;
    height: 2px;
    bottom: 0;
    margin-bottom: 6em;
    width: 100em;
}

#slider-with-labels-container {
    width: 40em;
}

.slider-label-spot {
    border-radius: 20%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area {
    resize: none;
    height: 20em;
    width: 50em;
}

#model-input {
    width: 35em;
}

.small-text-area {
    resize: none;
    height: 5em;
    width: 50em;
}

.monthly-plan-toggle-active {
    background-color: #8dda8d;
}

.monthly-plan-toggle-not-active {
    border: grey solid 1px;
}

.monthly-plan-toggle-active:hover {
    background-color: #8dda8d;
}

.monthly-plan-toggle-not-active:hover {
    border: grey solid 1px;
}

.active-step-button {
    font-weight: bold;
    border-bottom: blue solid 1px;
}

.active-step-button:hover {
    border-bottom: blue solid 1px;
}

.upload-step-toggle-active {
    background-color: #8dda8d;
}

.upload-step-toggle-not-active {
    border: grey solid 1px;
}

.upload-step-toggle-active:hover {
    background-color: #8dda8d;
}

.upload-step-toggle-not-active:hover {
    border: grey solid 1px;
}

.pale-green-button {
    background-color: #8dda8d;
}

.youtube-login {
    border: none;
    background-color: #8dda8d;
    border-radius: 10%;
}

.youtube-login :hover {
    border: none;
    background-color: #8dda8d;
}

.channel-icon-dimensions {
    width: 20px;
    height: 20px;
}