.sample-creation-entries {
    display: block;
    position: relative;
    height: 75vh;
    overflow-y: auto;
}

.sample-creation-table-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.sample-creation-entry {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    height: 50px;
}

#sample-creation-entries-and-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.sample-creation-header-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sample-creation-entry-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sample-creation-name-in-table-header {
    margin-left: 1%;
    width: 39%;
}

.sample-creation-name-text-container {
    margin-left: 1%;
    width: 40%;
}

.sample-creation-video-type {
    width: 10%;
}

.sample-creation-entry-thumbnail-container {
    width: 40%;
}

.sample-creation-entry-action-button {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
}

.sample-creation-entry-action-icon {
    width: 1.3vw;
    height: auto;
    align-self: center;
}

.sample-creation-entry-thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumbnail {
    width: 100px;
}