:root {
    font-family: gill sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 11px;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFFFFF;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    display: block;
    overflow: hidden;
  }
  
  h1 {
    font-size: 2em;
    line-height: 1.1;
  }

  hr {
      border: 0;
      clear:both;
      display:block;
      width: 96%;               
      background-color:#000000;
      height: 1px;
  }