.client-entries {
    display: block;
    position: relative;
    height: 75vh;
    overflow-y: auto;
}

.clients-table-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.client-entry {
    border: 1px solid grey;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 15px;
    height: 50px;
    padding: 10px;
}

#client-entries-and-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.client-entry-and-header-individual-pieces-of-data-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client-photo-client-entry-data {
    width: 2vw;
    height: auto;
}

.name-client-entry-data {
    padding-left: 7px;
    width: 25%;
}

.long-format-client-entry-data {
    text-align: center;
    width: 12%;
}

.shorts-client-entry-data {
    text-align: center;
    width: 13%;
}

.percentage-done-client-entry-data {
    text-align: center;
    width: 25%;
}

.client-entry-action-button {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
    height: auto;
    padding: 0;
    width: auto;
}

.four-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 25%;
    gap: 10px;
}

.widget-buttons {
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.client-entry-action-icon {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.anchor-tag-button {
    margin-top: 0.6em;
}