.organize-popup {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    margin-left: 50%;
}

.organize-close-area {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: transparent;
    margin-left: 5%;
}

.text-input-container {
    width: 40%;
}

#organize-buttons-section {
    display: flex;
    flex-direction: row;
    width: 50em;
    margin-top: 5em;
}

#organize-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70em;
    margin-top: 3%;
}

.not-full-width-horizontal-line {
    margin-top: 1em;
    border-bottom: 1px solid grey;
    height: 2px;
    width: 70em;
}

.horizontal-line {
    position: fixed;
    border-bottom: 1px solid grey;
    height: 2px;
    bottom: 0;
    margin-bottom: 6em;
    width: 100em;
}
