.sample-settings-popup {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    margin-left: 50%;
}

.sample-settings-close-area {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: transparent;
    margin-left: 5%;
}

.text-input-container {
    width: 40%;
}

#sample-settings-buttons-section {
    display: flex;
    flex-direction: row;
    width: 50em;
    margin-top: 5em;
}

#sample-settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70em;
    margin-top: 3%;
}

.not-full-width-horizontal-line {
    margin-top: 1em;
    border-bottom: 1px solid grey;
    height: 2px;
}

.horizontal-line {
    position: fixed;
    border-bottom: 1px solid grey;
    height: 2px;
    bottom: 0;
    margin-bottom: 6em;
}

.text-area {
    resize: none;
    height: 20em;
    width: 50em;
}

#model-input {
    width: 35em;
}

.active-step-button {
    font-weight: bold;
    border-bottom: blue solid 1px;
}

.active-step-button:hover {
    border-bottom: blue solid 1px;
}

.pale-green-button {
    background-color: #8dda8d;
}

.youtube-login {
    border: none;
    background-color: #8dda8d;
    border-radius: 10%;
}

.youtube-login :hover {
    border: none;
    background-color: #8dda8d;
}

.side-by-side {
    display: flex;
}

h2 {
    width: 7.5vw;
}

.text-long {
    width: 20vw;
}

#youtubeLink-input {
    width: 20vw;
}

#uploadFile-input {
    width: 20vw;
}
