#sidebar {
    display:flex; 
    width: 60px;
    height: 100%;
    position: fixed;
    background-color: white;
    border-right: 1px solid grey;
    z-index: 1;
}

#app-logo {
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

#clients-view-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 45%;
    width: auto;
    height: auto;
    padding: 0;
}

#clients-view-button-icon {
    width: 100%;
    height: auto;
}

#sample-creation-view-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    width: auto;
    height: auto;
    padding: 0;
}

#sample-creation-view-button-icon {
    width: 100%;
    height: auto;
}

#logout-button {
    margin-top: auto;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
}

#logout-button-icon {
    max-width: 100%;
    height: auto;
}

